.category-main div{
    color: white;
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 32px;
    font-weight:bolder;
}
a{
    text-decoration: none;
}
.bglight{
    background-color: #060100db;
    
}
.card{
    background-color: black;
    color: white;
}

.featurette-divider {
    color: white;
    margin: 5rem 0;
    /* Space out the Bootstrap <hr> more */
}

.profile-img{
    border-radius: 50%;
}
